/*
 *  © CoinSlots 
 *  Demo: http://www.btcircle.com/coinslots
 *  Please do not copy or redistribute.
 *  More licences we sell, more products we develop in the future.  
*/


* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background-color: #D3D3D3;
  background-image: url('./bg.jpg');
  background-size: cover;
}
.allbody {
  width: 500px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255,255,255,0.4);
  margin-top: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0 0 10px 0px rgba(0,0,0,0.75);
}
.alls {
  width: 480px;
  margin-left: 10px;  
  padding: 22px 0;
}
